<div id="column-right" class="col-sm-4">
  <div class="panel panel-default">

    <div class="panel-heading"><i class="fa fa-search"></i> TÌM KIẾM</div>
    <div id="search" class="panel-body">
      <form id="search-form" action="post">
        <div class="input-group">
          <input type="text" class="input-lg form-control" name="putkeyword" id='search-key' value="">
          <input type="text" class="sr-only" name="keyword" value="">
          <div class="input-group-btn">
            <button type="submit" class="input-lg btn btn-primary"><i class="fa fa-search"></i>  Tìm</button>
          </div>
        </div>
      </form>
    </div>


    <div class="panel-heading"><i class="fa fa-newspaper-o"></i> 5 BÀI VIẾT MỚI NHẤT</div>
    <div class="panel-body">
      <% _.each(fivePost, function(latestpost) { %>
      <a href="/post/view?id=<%= latestpost.id %>&slug=<%= latestpost.slug %>">
        <div class="media featured-name">
          <div class="media-left">
            <% if (latestpost.kind == 'video') { %>
            <img class="play-button" src="/images/play.png">
            <% } %>
            <img src="<%= latestpost.thumbnail %>" class="media-object">
          </div>
          <div class="media-body">
            <h5 class="media-heading"><%= latestpost.name %></h5>
            <p><i class="fa fa-eye"></i> <%= latestpost.view %> views</p>
          </div>
        </div></a><hr>
      <% }) %>
    </div>
  </div>
</div>
