
<div class="container-fluid">
  <div id="list-post" class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading"><i class="fa fa-film"></i> CLIP MỚI NHẤT</div>
      <div class="panel-body">
        <% _.each(allPost, function(post) { %>
        <a href="/post/view?id=<%= post.id %>&slug=<%= post.slug %>">
          <div class="col-md-3 col-xs-12 col-sm-12 new-post">
            <div class="thumb-div">
            <img class="thumb-post" src="<%= post.thumbnail %>">
            </div>
            <!--Thumbnail 300x444-->
            <div class="name-post">
              <span class="post-title"><%= post.name %></span>
              <span class="more-info"><i class="fa fa-clock-o"></i> <%= post.time %></span>
            </div>

          </div>
        </a>
        <% }) %>
      </div>
      <div class="panel-footer text-center">
        <ul class="pagination">
          <li><a href="&page=1">1</a></li>
          <li class="active"><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="column-right" class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading"><i class="fa fa-search"></i> SEARCH CLIP</div>
      <div id="search" class="panel-body">
        <form id="search-form" action="post">
        <div class="input-group">
          <input type="text" class="form-control" name="putkeyword" id='search-key' value="">
          <input type="text" class="sr-only" name="keyword" value="">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i>  Search</button>
          </div>
        </div>
        </form>

      </div>
      <div class="panel-heading"><i class="fa fa-film"></i> FEATURED CLIPS</div>
      <div class="panel-body">
        <% _.each(featuredPost, function(featured) { %>
        <a href="/post/view?id=<%= featured.id %>&slug=<%= featured.slug %>">
          <div class="media featured-name">
            <div class="media-left">
              <img src="<%= featured.thumbnail %>" class="media-object" style="width:80px">
            </div>
            <div class="media-body">
              <h5 class="media-heading"><%= featured.name %></h5>
              <p><%= featured.description %></p>
              <p><i class="fa fa-clock-o"></i> <%= featured.time %></p>
              <p><i class="fa fa-calendar"></i> <%= featured.year %></p>
              <p><i class="fa fa-eye"></i> <%= featured.view %> views</p>
            </div>
          </div></a>
        <% }) %>
      </div>
    </div>
  </div>
</div>
