
<div class="container-fluid">
  <div id="list-post" class="col-sm-8">
    <div class="panel panel-default" id="panel-post">
      <div class="panel-heading"><i class="fa fa-film"></i> VIDEO MỚI NHẤT</div>
      <div class="panel-body">
        <% _.each(allPost, function(post) { %>
        <a href="/post/view?id=<%= post.id %>&slug=<%= post.slug %>">
          <div class="col-md-3 col-xs-12 col-sm-12 new-post">
            <div class="thumb-div">
            <img class="thumb-post" src="<%= post.thumbnail %>">
            </div>
            <!--Thumbnail 300x444-->
            <div class="name-post">
              <span class="post-title"><%= post.name %></span>
              <span class="more-info"><i class="fa fa-eye"></i> <%= post.view %> đã xem</span>
            </div>
          </div>
        </a>
        <% }) %>
      </div></div>
    <div class="panel panel-default" id="panel-article">
      <div class="panel-heading"><i class="fa fa-file-text-o"></i> BÀI VIẾT MỚI</div>
      <div class="panel-body">
        <% _.each(allArticle, function(article) { %>
        <a href="/post/view?id=<%= article.id %>&slug=<%= article.slug %>">
          <div class="col-md-12 col-xs-12 col-sm-12 new-post">
            <div class="thumb-div">
              <img class="img-thumbnail thumb-post" src="<%= article.thumbnail %>">
            </div>
            <!--Thumbnail 300x444-->
            <div class="name-post">
              <span class="post-title"><%= article.name %></span>
              <span class="post-desc"><%= article.description %></span>
              <span class="more-info"><i class="fa fa-eye"></i> <%= article.view %> đã xem</span>
            </div>
          </div>
        </a><hr>
        <% }) %>
      </div>
      <div class="phantrang-home panel-footer text-center">
        <span class="sr-only countPost"><%= allPost.length %></span>
        <ul class="pagination">
          <!--<li class="active"><a href="?page=2">2</a></li>-->
        </ul>
      </div>
    </div>
  </div>
  <div id="column-right" class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading"><i class="fa fa-search"></i> TÌM KIẾM</div>
      <div id="search" class="panel-body">
        <form id="search-form" action="post">
        <div class="input-group">
          <input type="text" class="form-control" name="putkeyword" id='search-key' value="">
          <input type="text" class="sr-only" name="keyword" value="">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i>  Search</button>
          </div>
        </div>
        </form>

      </div>
      <div class="panel-heading"><i class="fa fa-star-o"></i> NỔI BẬT</div>
      <div class="panel-body">
        <% _.each(featuredPost, function(featured) { %>
        <a href="/post/view?id=<%= featured.id %>&slug=<%= featured.slug %>">
          <div class="media featured-name">
            <div class="media-left">
              <img src="<%= featured.thumbnail %>" class="media-object">
            </div>
            <div class="media-body">
              <h5 class="media-heading"><%= featured.name %></h5>
              <span class="more-info"><i class="fa fa-eye"></i> <%= featured.view %> đã xem</span>
            </div>
          </div></a>
        <% }) %>
      </div>
    </div>
  </div>
</div>
